@tailwind base;
@tailwind components;
@tailwind utilities;

#bests svg{
  fill: black;
}
#bests button.splide__arrow{
  transform: rotate(45deg);
  background-color: gray;
  height: 60px;
  width: 60px;
  border: 7px solid rgb(20, 20, 60);
  position: absolute;
  margin-top: -20px;
}
#bests .splide__arrow--prev svg{
  transform: rotate(135deg);
}
#bests .splide__arrow--next svg{
  transform: rotate(-45deg);
}

#bests button.is-active{
  background-color: black;
}
body{
  background-color: rgb(20, 20, 60);
}